/* 

NCAA Tournament Database
Date: Created April 6, 2020
Creator: Chelsea Johnson, Toya Okeke, Stephanie Walsh

*/


/*body {*/
/*!*background-color: #cecece;*!*/
/*}*/

.nav li {
box-shadow: 0px 2px 4px 1px;
}




.hideThis {

display: none;

}

 ul {

list-style: none !important;

}

.main-content {


min-height: 240px;
 /*min-width: 750px;*/
background: #FFF;
padding: 20px;
border-radius: 5px;
word-wrap: break-word;
box-shadow: 0px 1px 9px 3px;
}


.content aside  ul li {
background: #408B74;
padding: 4px;
border-radius: 5px;
margin-bottom: 6px;

}

.content aside ul li a {

color: #000;
font-weight: bold;

}


.content aside ul li a:hover {

background: #2F9D3D;


}

.activeLink a {

color: #FFF !important;
text-transform: uppercase;

}

.resources {

margin-top: 2%;

}



/*
HERE IS WHERE THE NCAA STUFF STARTS
 */

main{
 display:flex;
 flex-direction:row;
}
.round{
 display:flex;
 flex-direction:column;
 justify-content:center;
 width:200px;
 list-style:none;
 padding:0;
}
.round .spacer{ flex-grow:1; }
.round .spacer:first-child,
.round .spacer:last-child{ flex-grow:.5; }

.round .game-spacer{
 flex-grow:1;
}

/*
 *  General Styles
*/
body{
 font-family:sans-serif;
 font-size:small;
 padding:10px;
 line-height:1.4em;
}

li.game{
 padding-left:20px;
}

li.game.winner{
 font-weight:bold;
}
li.game span{
 float:right;
 margin-right:5px;
}

li.game-top{ border-bottom:1px solid #aaa; }

li.game-spacer{
 border-right:1px solid #aaa;
 min-height:40px;
}

li.game-bottom{
 border-top:1px solid #aaa;
}